body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ------HEADER------ */

.head {
  display: inline-block;
  width: 1440px;
  height: 72px;
  margin-bottom: 10;
}
.logo {
  color: #2e2f42;
}
.name-page {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
}

.navigation-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  width: 261px;
  height: 24px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contacts-link {
  display: inline-block;
  margin-right: 40;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ------HEADER------ */

/* ------HERO------ */

.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  width: 200;
}
.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ------HERO------ */

/* ------BENEFITS------ */
.benefits {
}
.benefits-list {
  width: 1128px;
  height: 120px;
}
.benefits-item {
  display: inline-block;
  margin-right: 24;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 264px;
  height: 120px;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------BENEFITS------ */

/* ------TEAM------ */
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-item {
  display: inline-block;
  margin-right: 24;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-logo {
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* ------TEAM------ */

/* ------PORTFOLIO------ */
.portfolio {
  width: 1128px;
  height: 1000px;
}
.portfolio-list {
  width: 1128px;
  height: 420px;
}
.portfolio-item {
  display: inline-block;
  margin-right: 24;
  width: 360px;
  height: 420px;
  background: #fff;
}
.portfolio-logo {
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ------PORTFOLIO------ */

/* ------FOOTER------ */
.footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo-item {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
